<%- include('../partials/header') %>
<div class="home">
  <p class="title">Bienvenue sur Trombino'Clock !</p>
  <p class="text text--center">Une appli qu'elle est bien pour faciliter les contacts entre les élèves de notre école.</p>
  <p class="text text--center"><a class="link" href="/promos">voir les promos</a></p>
  <p class="text text--center"><a class="link" href="/studentadd">Ajouter un étudiant</a> </p>
</div>
<%- include('../partials/footer') %>
