<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrombinO'Clock</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header">
    <p class="header__title"><a href="/" class="header__logo">TrombinO<span>'</span>Clock</a></p>    
  </div>
  <ul class="nav">
    <li class="nav__item"><a href="/" class="nav__link">accueil</a></li>
    <li class="nav__item"><a href="/promos" class="nav__link">toutes les promos</a></li>
    <li class="nav__item"><a href="/studentadd" class="nav__link">Ajouter un étudiant</a></li>
  </ul>
  <div class="main">